---
import { Image } from 'astro:assets';
import bannerHamburg from '../assets/banner_original.jpg';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Moritz Wörle">
	<main>
		<div class="h-screen flex flex-col-reverse xl:flex-row-reverse">
			<div class="h-2/4 xl:h-full xl:w-1/2 flex bg-[radial-gradient(ellipse_at_top_right,_var(--tw-gradient-stops))] from-blue-700/50 via-blue-800/50 to-gray-900/50">
				<div class="m-auto font-sans text-center xl:text-left">
					<h1 class="text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl">
						Moritz Wörle
					</h1>
					<p class="text-lg md:text-xl lg:text-2xl py-6">
						Software developer from Hamburg, Germany
					</p>
				</div>
			</div>
			<div class="h-2/4 xl:h-full xl:w-1/2 overflow-hidden">
				<Image
					src={bannerHamburg}
					widths={[640, 768, 1024, 1280, 1536, 1792, 2048, 2304, bannerHamburg.width]}
					sizes={`(max-width: 640px) 100vw, (max-width: 768px) 100vw, (max-width: 1024px) 100vw, (max-width: 1280px) 100vw, (max-width: 1536px) 100vw, (max-width: 1792px) 100vw, (max-width: 2048px) 100vw, (max-width: 2304px) 100vw, ${bannerHamburg.width}`}
					alt="Port of Hamburg"
					class="object-cover h-full w-full"
					loading="eager"
				/>
			</div>
		</div>
	</main>
</Layout>
